<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<h1>Welcome</h1>
<div>
    <a th:href="@{/register}">Go to Registration Form</a>
</div>
</body>
</html>
