<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${users.empty}">
    <td colspan="2"> No Books Available </td>
  </tr>
  <tr th:each="book : ${books}">
    <td><span th:text="${book.title}"> Title </span></td>
    <td><span th:text="${book.author}"> Author </span></td>
  </tr>
  </tbody>
</table>
</body>
</html>
